<h1>Name: <%= @snack.name %></h1>
<p>Price: $<%= @snack.price %></p>
<p>Vending Locations:</p>
<ul>
  <% @snack.machines.each do |machine| %>
      <li id = "machine-<%=machine.id%>"><%= machine.location %> (<%= machine.snacks_count %> kinds of snacks, average price of $<%= machine.average_snack_price %>)</li>
  <% end %>
</ul>
